
@{
    ViewBag.Title = "Semester";
}

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body class="bg-info">
    

    <div class="container">
        <h2>Semester 5 Course List</h2>

        <div>
            <p>420-513-LA DATABASE SYSTEMS ADMINISTRATION</p>
        </div>
        <div>
            <p>420-521-LA SOFTWARE TESTING AND QUALITY ASSURANCE</p>
        </div>
        <div>
            <p>420-522-LA BUILDING WINDOWS AND WEB APPLICATIONS</p>
        </div>
        <div>
            <p>420-523-LA FINAL PROJECT 1 - LEGACY TO MOBILE</p>
        </div>
        <div>
            <p>420-524-LA MOBILE APPLICATION DEVELOPMENT</p>
        </div>
        <div>
            <p>420-526-LA CAREER PLANNING</p>
        </div>



        @Html.ActionLink("Testimonials", "Testimonial", "Info")
        <br>
        @Html.ActionLink("Index", "Index", "Default")
    </div>
</body>